doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,height=device-height, initial-scale=1.0')
    link(rel='shortcut icon', href='/favicon.ico')

    // FB
    meta(property='og:url', content='https://pickachu1006.github.io/travel/')
    meta(property='og:type', content='website')
    meta(property='og:title', content='高雄旅遊資訊')
    meta(property='og:description', content='陽光之都 動感高雄')
    meta(property='og:image:width', content='1200')
    meta(property='og:image:height', content='630')
    meta(property='og:image', content='images/Hero.png')

    // iPhone and iPod Touch (None Retina Display)
    link(href='apple-icon-57x57.png', rel='apple-touch-icon-precomposed', sizes='57x57')

    // iPad (None Retina Display)
    link(href='apple-icon-72x72.png', rel='apple-touch-icon-precomposed', sizes='72x72')

    // iPhone and iPod Touch (Retina Display)
    link(href='apple-icon-114x114.png', rel='apple-touch-icon-precomposed', sizes='114x114')

    // iPad (Retina Display)
    link(href='apple-icon-144x144.png', rel='apple-touch-icon-precomposed', sizes='144x144')

    // IE
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    title 高雄旅遊資訊
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.13/css/all.css', integrity='sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp', crossorigin='anonymous')
    link(rel='stylesheet', href='css/all.css')
    
body
    .header
      .jumbotron.text-center.px-0.mb-0
        h1.h1.text-white.font-weight-bold 高雄旅遊資訊
        form.filter(action='index.html')
          select#zone(name='place')
      ul.hotplace
        p 熱門行政區
        li(style='background-color: #8A82CC') 苓雅區
        li(style='background-color: #FFA782') 三民區
        li(style='background-color: #F5D105') 新興區
        li(style='background-color: #559AC8') 美濃區
    .main.pt-5.container
      .seperator
        i.fas.fa-chevron-circle-down
      .place-name.py-3
      .place-detail
        .row
    .footer.py-4.mt-auto
      p(style='color:white') 高雄旅遊網
      p(style='color:#FFD366') 資料來源：高雄市政府
    script(src='js/all.js')
